body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f7;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #5D0E07;

    z-index:1; /*no overlap*/
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #f5f5f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background-color: #f5f5f7;
    color: #5D0E07;
  }

  a.active {
    background-color: #f5f5f7;
    color: #5D0E07;
  }


  .pagetext {
    padding-left: 25px; 
    padding-right: 25px;
    text-align: center;
    color: black;
  }

  .pagetitle {
    text-align: center;
    color: Black;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
  }

  table, tr, td {
    border: 1px solid black;
  }

  #container {
    width:100%;
  }

  #left {
    float:left;
    width: 33%;
    display: block;
    text-align: left;
    padding: auto;
  }
  #right{
    float: right;
    width: 33%;
    display: inline-block;
    text-align: left;
    padding: auto;

  }
  #center{
    margin:0 auto;
    width: 33%;
    display: inline-block;
    text-align: center;
    border-left: 4px solid #5D0E07;
    border-right: 4px solid #5D0E07;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    padding-top: 40px;
    top: 0;
  }

  fieldset {
    display: block;
  }

  textarea {
    display: block;
    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }